<!-- templates/partials/donations_form.html -->

<fieldset>
    <legend>{{ title }}</legend>
    <!-- TITLE -->
    <p>
        <label for='donation-name'>Name</label><br>
        <input id='donation-name' type='text' name='name' value='{{ donation.name }}'/>
    </p>
    <!-- AMOUNT DONATED -->
    
    <p>
        <label for='amount'>Amount</label><br>
        <input type='number' name='amount' value='{{donation.amount}}'/>
    </p>

     <!-- CATEGORY -->
    
     <p>
        <label for='category'>Category</label><br>
        <select id="category" name="category">
            <option value="" selected>Select...</option>
            <option value="Animals">Animals</option>
            <option value="Arts">Arts and Humanities</option>
            <option value="Community">Community</option>
            <option value="Education">Education</option>
            <option value="Environment">Environment</option>
            <option value="International">International</option>
            <option value="Research">Research</option>
        </select>    
    </p>

    <!-- DATE -->

    <p>
        <label for='date'>Date</label><br>
        <input type='date' name='date' value='{{donation.date}}' />
    </p>

    <!-- DESCRIPTION -->
    <p>
        <label for='description'>Description</label><br>
        <input id='description' type='text' name='description' value='{{ donation.description }}' />
    </p>
      
</fieldset>

