body {
    text-align: center;
    padding-top: 20px;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 1000px;
}

td {
    width: 500px;
}

th {
    text-align: center;
}

a {
    color:hotpink;
}

a:hover {
    color: mediumorchid;
}

button {
    background-color: white;
    border: none;
    color: hotpink;
}

button:hover {
    color: mediumorchid;
}

.action-buttons {
    display: flex;
    justify-content:center;
    margin: auto;

}

.action-buttons button {
    margin: 20px;
}

#main-display {
    margin: auto;
    width: 1000px;
    text-align: left;

}

h2{
    
    margin-top: 20px;
}



