<!-- templates/donations_show.html -->
{% extends 'base.html' %}

{% block content %}
<a href = '/'> Back to Home </a>
<h1>{{ donation.name }}</h1>
<h2>{{ donation.description }}</h2>

<table class = table-bordered>
    <tr>
        <th>Donation</th>
        <th>Description</th>
        <th>Donation Amount</th>
        <th>Date</th>
    </tr>

    <tr>
        <td style="text-align: center;">{{ donation.name }}</td>
        <td style="text-align: center;">{{ donation.description }}</td>
        <td style="text-align: center;">{{ donation.amount }}</td>
        <td style="text-align: center;">{{ donation.date }}</td>
    </tr>

</table>

<p><form method='POST' action='/donations/{{ donation._id }}/delete'>
    <button type='submit'>Delete</button>
</form></p>

<p><a href='/donations/{{ donation._id }}/edit'>Edit</a></p>
{% endblock %}